{{{body}}}
<br>
<hr>
<div style='margin-top:20px;'>
    <table>
        <tbody>
            <tr>
                <td rowspan="4">
                    <img style="margin-right:20px;" src='https://ni.fe.up.pt/images/logo-niaefeup.png' alt='logo niaefeup' title='logo' style='display:block' width='94'>
                </td>
                <td>
                    <h2 style="margin-bottom:0;">Núcleo de Informática da AEFEUP</h2>
                </td>
            </tr>
            <tr>
                <td><p style="margin-top:5px;"><a href='mailto:ni@aefeup.pt'>ni@aefeup.pt</a></p></td>
            </tr>
            <tr>
                <td><p style="margin-top:5px;"><a href='mailto:nijobs@aefeup.pt'>nijobs@aefeup.pt</a></p></td>
            </tr>
            <tr>
                <td>
                    <p style="margin-top:10px;"><a href='https://ni.fe.up.pt'>Website</a> | <a href='https://www.facebook.com/NIAEFEUP'>Facebook</a> | <a
                    href='https://www.instagram.com/niaefeup/'>Instagram</a></p>
                </td>
            </tr>
            <tr>
                <td><p style="margin-top:10px;"> Sala B315, Rua Dr.Roberto Frias, s/n 4200-465 Porto Portugal | <a href='https://goo.gl/maps/aj2LBqFkwjx'>Google
                    Maps</a></p></td>
            </tr>
        </tbody>
    </table>
</div>