<h1>We are delighted to have you on board, {{companyName}}!</h1>
<p>We are pleased to inform you that your application has been accepted, and all the offers you have created are now accessible to the public!</p>
<p>From now on, any offer you create will be immediately available to the public audience.</p>
<br>
<p>If you have any further questions, don't hesitate to contact us at nijobs@aefeup.pt!</p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>
