<h1>Glad to have you on board, {{companyName}}!</h1>
<p>We decided to accept your application, and you are just one step away from being able to use NIJobs!</p>    
<p>Now, you can log in to <a href="https://ni.fe.up.pt/nijobs">NIJobs</a> and complete your registration.
Once you finish, you'll be able to place some work offers!</p>
<br>
<p>If you need anything else, don't hesitate to contact us!</p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>