<p>Hello {{companyName}},</p>
<br>
<p>After further analysis, we have decided to unblock your company.</p>
<p>You can now place and manage offers again on our platform. The offers previously place are now also available again.
</p>
<p>We're sorry for any inconvenience this situation has caused.
</p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>