<p>Hello {{companyName}},</p>
<br>
<p>This email is being sent to inform you that your company account has been disabled.</p>
<p>As such, your offers have all been hidden, making them invisible for users to search.</p>
<p>This is a temporary state, so you or a user with admin privileges can enable your account at any time. 
    When that is done, all the offers created by you that would be public at that time will be made visible again</p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>