<p>Hello {{companyName}},</p>
<br>
<p>This email is being sent to inform you that your company account has been deleted.</p>
<p>As such, your offers have all been deleted as well.</p>
<p>This is a permanent action, but feel free to come back by submitting another application!</p>
<p>If this was a mistake or you didn't ask to delete your account, please get back at us at
    <a href="mailto:ni@aefeup.pt">ni@aefeup.pt</a></p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>