<p>Hello {{companyName}},</p>
<br>
<p>This email is being sent to inform you that your company account as been re-enabled.</p>
<p>As such, all placed offers that are now in their publish period were made visible.
</p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>