<p>Hello {{companyName}},</p>
<br>
<p>This email is being sent to inform that your company account has been blocked.</p>
<p>Some common causes for this are spam, abuse or a type of behaviour that does not align with our principles.
    If you believe this was a mistake and want to contest this decision, please get back at us at
    <a href="mailto:ni@aefeup.pt">ni@aefeup.pt</a>
</p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>