<h1>Confirm your NIJobs application</h1>
<p>We have successfully received your application!</p>
<p>Please follow this <a href="{{link}}" target="_blank">link</a> to finish the process. Note that the link will expire in 10 minutes.</p>    
<br>
<p>If you did not request this or need anything else, please contact us at <a href="mailto:nijobs@aefeup.pt">nijobs@aefeup.pt</a>!</p><br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>