<h1>Confirm your NIJobs application</h1>
<p>We have received your application successfully!</p>
<p>To complete the process, please click on the following <a href="{{link}}" target="_blank">link</a>. Kindly note that the link will expire in 10 minutes.</p>
<br>
<p>If you did not make this request or require any further assistance, please reach out to us at <a href="mailto:nijobs@aefeup.pt">nijobs@aefeup.pt</a>!</p><br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>