<h1>Your application has been validated!</h1>
<p> We will now review your application.
    In the meantime, you can complete your registration by logging into your account and begin creating offers.
    Please note that your offers will remain hidden from the public until your company is approved.</p>
<p>Your Application ID is {{applicationId}} and you registered {{companyName}}.</p>
<p>Once you are approved, you will receive an email notification, and your offers will become visible to the public.</p>
<br>
<p>If you did not request this or if you need anything else, don't hesitate to contact us at <a href="mailto:nijobs@aefeup.pt">nijobs@aefeup.pt</a>!</p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>
