<h3>A company has requested access to NIJobs</h3>
<br>
<p>{{companyName}} <{{email}}> has requested to participate in NIJobs. Below is their motivation:</p>
<blockquote><i>{{motivation}}</i></blockquote>
<br>
<br>
<p>To review and approve or reject this application, log in to NIJobs and go to the <a href="https://ni.fe.up.pt/nijobs/review/applications">Applications Review</a> page.</p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>