<h1>We have successfully received your application!</h1>
<p>We will now review your application, and in case you're approved, you will receive another email with further instructions in order to complete your registration.</p>    
<p>Your Application ID is {{applicationId}} and you registered {{companyName}}</p>
<br>
<p>If you did not request this or if you need anything else, don't hesitate to contact us!</p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>