<h1>Your application has been validated!</h1>
<p>We will now review your application, and in case you're approved, you will receive another email with further instructions in order to complete your registration.</p>
<p>Your Application ID is {{applicationId}} and you registered {{companyName}}</p>
<p>Once you're approved, you will receive an email, and then you can log into NIJobs! Do not forget your password, you will need it on the first login.</p>
<br>
<p>If you did not request this or if you need anything else, don't hesitate to contact us at <a href="mailto:nijobs@aefeup.pt">nijobs@aefeup.pt</a>!</p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>
