<p>Hello {{companyName}},</p>
<br>
<p>We took a look at your offer for {{offerTitle}} and decided to disable it. The offer had the following description:</p>
<blockquote>{{description}}</blockquote>
<p>Some common causes for this are spam, abuse or a type of offer that does not align with our principles.
    If you believe this was a mistake and want to discuss this decision, please get back at us at
    <a href="mailto:nijobs@aefeup.pt">nijobs@aefeup.pt</a></p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>