<p>Hello {{companyName}},</p>
<br>  
<p>We have reviewed your application for {{companyName}} and decided to reject your application.</p>    
<p>Some common causes of rejection are spam, abuse or a motivation that does not align with our principles. 
    If you believe this was a mistake, please get back to us at <a href="mailto:ni@aefeup.pt">ni@aefeup.pt</a></p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>