<p>Hello {{companyName}},</p>
<br>  
<p>We have reviewed your application for {{companyName}} and decided to reject your application, due to {{reason}}</p>     
<p>If you believe this was a mistake, please get back to us at <a href="mailto:nijobs@aefeup.pt">nijobs@aefeup.pt</a></p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>