<h1>We received a request to recover your account</h1>
<p>Please follow this <a href="{{link}}">link</a> to finish the process.</p>    
<br>
<p>If you did not request this or if you need anything else, don't hesitate to contact us at <a href="mailto:nijobs@aefeup.pt">nijobs@aefeup.pt</a>!</p>
<br>
<p>Sincerely,</p>
<p>NIJobs team at NIAEFEUP</p>