.pln {
  color: white;
}

/* string content */
.str {
  color: #7ab768;
}

/* a keyword */
.kwd {
  color: #ff7e1d;
}

/* a comment */
.com {
  color: #7ab768;
}

/* a type name */
.typ {
  color: #ffd25d;
}

/* a literal value */
.lit {
  color: #ff7e1d;
}

/* punctuation */
.pun {
  color: #ddd;
}

/* lisp open bracket */
.opn {
  color: #000000;
}

/* lisp close bracket */
.clo {
  color: #000000;
}

/* a markup tag name */
.tag {
  color: #fac25d;
}

/* a markup attribute name */
.atn {
  color: #ff7e1d;
}

/* a markup attribute value */
.atv {
  color: red;
}

/* a declaration */
.dec {
  color: #EF5050;
}

/* a variable name */
.var {
  color: white;
}

/* a function name */
.fun {
  color: #4271ae;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2px;
}
